/* Provide sufficient contrast against white background */
body {
    background-color: #f0f2f5;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.contents {
    width: 1136px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

#timer {
    font-size: 70px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
